@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    
    font-size: 5vmin;
    font-family: 'Space Grotesk', sans-serif;
    color: white;

    /* overflow: hidden; */
}

.container, .squid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
img{
    width: 100%
}
.person {
    position: absolute;
    width: 150vmin;
    height: 150vmin;
}

.ayuda{
    font-size: 4vmin;
    margin:0;
    padding: 0;
}

.btn {

    color: rgb(226, 77, 77);;
    font-size: 6vmin;
    font-family: 'Space Grotesk', sans-serif;
    border: transparent;
    z-index: 1;
}

h1{
    color: rgb(226, 77, 77);;
    font-size: 9vmin;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}

input{
    color: grey;
    font-size: 6vmin;
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

form{
    margin-top: 15px;
}

.pregunta{
    
    font-style: italic;
}

h4{
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(226, 77, 77);
}